{% extends "layout.shtml" %}

{% block nav %}
<li>Home</li>
{% endblock nav %}

{% block content %}
   <link rel="stylesheet" href="/public/css/model.css" type="text/css" />
   <script type="text/javascript" src="/public/scripts/jquery-1.11.1.min.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
      .button-wrapper {
      background: chocolate;
      display: table-cell;
      vertical-align: middle;
      }
   </style>
   
   <iframe id="api-frame-1" height="500" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
   <iframe id="api-frame-2" height="500" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
   <div class = "button-wrapper">			
      <button class="button" id="front">Front</button><br/>
      <button class="button" id="right">Right</button><br/>
      <button class="button" id="back">Back</button><br/>
      <button class="button" id="left">Left</button><br/>
      <button class="button" id="up">Up</button><br/>
      <button class="button" id="down">Down</button><br/>
   </div>
   <div id="slider" style = "height:100px"></div>
   
<script type="text/javascript">

var version = '1.0.0';

var iframe_1 = $( '#api-frame-1' )[ 0 ];
var urlid_1 = '0b2e9385f33a407cab172ae1a110c357';

var iframe_2 = $( '#api-frame-2' )[ 0 ];
var urlid_2 = '3f26e3a2fc7c4549990b5509fa5cb727';

var client_1 = new Sketchfab( version, iframe_1 );
var client_2 = new Sketchfab( version, iframe_2 );

var api_1;
var api_2;

var error = function () {
    console.error( 'Error api Sketchfab !' );
};

var success_2 = function ( api ) {

    api_2 = api;

    var target = [ 0.0, 0.0, 0.0 ];

    var cameraList = [ {//Tuples are represented as [y,x,z] coordinates
        eye: [ 0, -7, 0 ],
        text: 'front view'
    }, {
        eye: [ -7, 0, 0 ],
        text: 'right view'
    }, {
        eye: [ 0, 7, 0 ],
        text: 'back view'
    }, {
        eye: [ 7, 0, 0 ],
        text: 'left view'
    }, {
        eye: [ 0, 0, 7 ],
        text: 'up view'
    }, {
        eye: [ 0, 0, -7 ],
        text: 'down view'
    } ];


     api_1.start(function() {
         api_2.start(function() {

             $('#front').click(function() {
                 api_1.lookat(cameraList[0].eye, target, 3);
                 api_2.lookat(cameraList[0].eye, target, 3);
             });

             $('#right').click(function() {
                 api_1.lookat(cameraList[1].eye, target, 3);
                 api_2.lookat(cameraList[1].eye, target, 3);
             });

             $('#back').click(function() {
                 api_1.lookat(cameraList[2].eye, target, 3);
                 api_2.lookat(cameraList[2].eye, target, 3);
             });

             $('#left').click(function() {
                 api_1.lookat(cameraList[3].eye, target, 3);
                 api_2.lookat(cameraList[3].eye, target, 3);
             });

             $('#up').click(function() {
                 api_1.lookat(cameraList[4].eye, target, 3);
                 api_2.lookat(cameraList[4].eye, target, 3);
             });

             $('#down').click(function() {
                 api_1.lookat(cameraList[5].eye, target, 3);
                 api_2.lookat(cameraList[5].eye, target, 3);
             });

         });
		 
		   $( "#slider" ).slider(
	{
	slide: function(event,ui){
		var val = $('#slider').slider("value");
		var x = Math.cos(val*.01*6.28) * 6;
		var y = Math.sin(val*.01*6.28) * 6;
		var z = 0;
		<!-- console.log("New Value: "+x); -->
		    <!-- var distance = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2)); -->
            <!-- x = (x / distance) * 6; -->
			<!-- console.log("Value of mouse following X: "+x); -->
			<!-- y = (y / distance) * 6; -->
			<!-- console.log("Value of mouse following Y: "+y); -->
			<!-- z = (z / distance) * 6; -->
			api_1.lookat([y, -x, z], [0, 0, 0],0);
			api_2.lookat([y, -x, z], [0, 0, 0],0);
		}
	});
         //Be careful, the mouse can't be detected on the iframe
         //If you want to fix this, you have to put an overlay on top of the iframe
         <!-- $('body').mousemove(function(event) { -->

             <!-- // Calculate the location of the middle of the frame (Where we want the model to stay) -->
             <!-- var frameX = $('#api-frame-1').position().left + $('#api-frame-1').width() / 2; -->
             <!-- var frameY = $('#api-frame-1').position().top + $('#api-frame-1').height() / 2; -->

             <!-- var x = event.pageX - frameX; -->
             <!-- var y = event.pageY - frameY; -->
             <!-- var z = 2; -->

             <!-- // Calculate the distance, normalize the vector by dividing by distance and multiplying by a factor -->
             <!-- var distance = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2)); -->
             <!-- x = (x / distance) * 6; -->
			 <!-- console.log("Value of mouse following X: "+x); -->
             <!-- y = (y / distance) * 6; -->
			 <!-- console.log("Value of mouse following Y: "+y); -->

             <!-- z = (z / distance) * 6; -->

             <!-- // x, y and z depend on how the model was made -->
             <!-- api.lookat([y, -x, z], [0, 0, 0], 0); -->
         <!-- }); -->

     });
     };


var success_1 = function ( api ) {

    api_1 = api;
    client_2.init( urlid_2, {
        success: success_2,
        error: error
    } );

}

client_1.init( urlid_1, {
    success: success_1,
    error: error
} );
    </script>
	


{% endblock content %}
