{% extends "layout.shtml" %}

{% block nav %}
<li>Home</li>
{% endblock nav %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/public/styles.css" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<script type="text/javascript" src="/public/scripts/jquery-1.11.1.min.js"></script>
	<script src = "/public/functions.js" type = "text/javascript"></script> 
	<script type="text/javascript" src="/public/jqwidgets/jqxbuttons.js"></script>
	<script type="text/javascript" src="/public/jqwidgets/jqxcore.js"></script>
	<script type="text/javascript" src="/public/jqwidgets/jqxdata.js"></script>
	<script type="text/javascript" src="/public/jqwidgets/jqxmenu.js"></script>
	<script type="text/javascript" src="/public/jqwidgets/jqxscrollbar.js"></script>
	<script type="text/javascript" src="/public/scripts/demos.js"></script>
	
</head>

<body style="height: 100px;">
	<div class="wdn-band">
		<div class="wdn-inner-wrapper">
			<div style="height:500px;">
				<img src="/public/images/Beef_background.png"></img>
				<div style= "text-align: center;">
					<a style = "width: 33%;" href="/views/model.html"><button class = "camera-button"> View Models </button></a>
					<a style = "width: 33%;" href="/views/quiz.html"><button class = "camera-button"> Quiz </button></a>
					<a style = "width: 33%;" href="/views/meatJudge.html"><button class = "camera-button"> Judge Cuts </button></a>
				</div>
			</div>
			
		</div>   

	</div>
</body>
</html>


{% endblock content %}


