<div class="wdn-inner-wrapper">
<section class="wdn-grid-set">
<div class="wdn-col-full">
<div class="wdn-col-one-half">
<div class="contactinfo">
<span class="wdn-footer-heading" role="heading">Contact Information</span>
    <p class="wdn-icon-mail"><a href="mailto:sjones1@unl.edu" class="email">sjones1@unl.edu</a></p>
 <p class="wdn-icon-location adr">
        <span class="fn">Steven Jones, Professor</span><br />
        <span class="street-address"> Animal Science Department</span><br />
	<span class="street-address">  A213e Animal Science Building</span><br />
        <span class="locality">Lincoln</span>, 
        <abbr class="region" title="Nebraska">NE</abbr> 
        <span class="postal-code">68583-0908</span>
    </p>

</div>
</div>

<div class="wdn-col-one-half">
<span class="wdn-footer-heading" role="heading">Related Links</span>
<ul class="wdn-related-links">
	<li><a href="http://www.pork.org/">Pork Board</a></li>
	<li><a href="http://www.porkbeinspired.com">Pork Recipes</a></li>
	<li><a href="http://www.pork.org/type/hot-topics/">Pork Hot Topics</a></li>
	<li><a href="http://egashops.directedje.com/PorkStoreProducer/catalog.asp">Pork Checkoff Store</a></li>
</ul>

</div>
</div>
</section>
</div>
