<div class="vcard">
    <p class="wdn-icon-location adr">
        <span class="fn">Steven Jones, Professor</span><br />
        <span class="street-address"> Animal Science Department</span><br />
	<span class="street-address">  A213e Animal Science Building</span><br />
        <span class="locality">Lincoln</span>, 
        <abbr class="region" title="Nebraska">NE</abbr> 
        <span class="postal-code">68583-0908</span>
    </p>
    <p class="wdn-icon-phone"><a href="tel:402-472-5566" class="tel">402-472-5566</a></p>
    <p class="wdn-icon-print">402-472-6362</p>
    <p class="wdn-icon-mail"><a href="mailto:sjones1@unl.edu" class="email">sjones1@unl.edu</a></p>
</div>
